.todo--list {
  list-style: none;
}

.todo--item {
  background-color: whitesmoke;
  border: none;
  width: 80%;
  margin: 1% auto;
  height: 2rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 93% 7%;
  border-radius: 0.3vw;
  grid-template-areas: "left star";
}
.todo--left-items {
  display: flex;
  align-items: center;
  height: 2rem;
  grid-area: left;
}

.todo--icon__inactive {
  height: 1rem;
  margin: 0.5rem 0.8rem 0.5rem 0.5rem;
  transition: all ease 0.2s;
}

.todo--text {
  position: relative;
}

.todo--text::after {
  content: "";
  display: block;
  width: 0%;
  background: rgb(63, 63, 63);
  height: 2px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  transition: ease 0.5s;
}

.todo--text__ticked {
  position: relative;
}

.todo--text__ticked::after {
  width: 100%;
  background: rgb(63, 63, 63);
}

.todo--icon__inactive:hover {
  cursor: pointer;

  filter: invert(34%) sepia(63%) saturate(6184%) hue-rotate(144deg)
    brightness(88%) contrast(98%);
  transition: all ease 0.3s;
}

.star--icon {
  height: 1rem;
  margin: 0.5rem 0.2rem 0.5rem 0rem;
  transition: all ease 0.4s;
}

.star--icon__active {
  fill: #168b72;
  stroke: #168b72;
}

.star--icon:hover {
  cursor: pointer;
  filter: invert(75%) sepia(23%) saturate(6710%) hue-rotate(176deg)
    brightness(102%) contrast(102%);
  transition: all ease 0.4s;
}
