.todo--list {
  list-style: none;
  display: grid;
  margin: 0;
  height: 100%;
  grid-template-rows: 82vh 18vh;
  grid-template-areas:
    "todo--items"
    "todo--input";
  position: relative;
}
.todo--droparea {
  width: 80%;
  margin: 2% auto;
  margin-top: 7%;
  padding: 1%;
  transition: all ease 0.5s;
  border-radius: 0.5vw;
  overflow-y: auto;
}

.group-name {
  position: absolute;
  left: 10%;
  top: 0.3vw;
  font-size: 2vw;
  font-weight: 600;
}

.todos {
  overflow-y: auto;
}

TodoInput {
  grid-area: todo--input;
}

.todos {
  grid-area: todo--items;
}
